/node_modules
/public/hot
/resources/docs
/resources/views/apidoc
/public/docs
/public/storage
/public/images/admin/*
/public/images/user/profile/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
scripts/setup.sh
*.tar
*.design

